parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropForeignKeyIfExists\\(\\)\\.$#"
			count: 1
			path: database/migrations/2021_10_20_010000_add_foreign_key_constraints_to_tables.php

		-
			message: "#^Call to an undefined method Igniter\\\\Pages\\\\Models\\\\Menu\\:\\:items\\(\\)\\.$#"
			count: 1
			path: src/Classes/MenuManager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Models\\\\Theme\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/Classes/MenuManager.php

		-
			message: "#^Access to an undefined property Igniter\\\\Pages\\\\Models\\\\MenuItem\\:\\:\\$reference\\.$#"
			count: 1
			path: src/Classes/Page.php

		-
			message: "#^Access to an undefined property Igniter\\\\Pages\\\\Models\\\\MenuItem\\:\\:\\$type\\.$#"
			count: 2
			path: src/Classes/Page.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Pages\\\\Models\\\\Page\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/Classes/Page.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:isEnabled\\(\\)\\.$#"
			count: 1
			path: src/Classes/PageManager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Pages\\\\Models\\\\Page\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/Classes/PageManager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Routing\\\\Router\\:\\:pagic\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined method Igniter\\\\Admin\\\\Classes\\\\BaseWidget\\:\\:getField\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Menus.php

		-
			message: "#^Call to an undefined method Igniter\\\\Admin\\\\Classes\\\\BaseWidget\\:\\:renderField\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Menus.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Menus.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Pages.php

		-
			message: "#^Access to an undefined property Igniter\\\\Pages\\\\Models\\\\Menu\\:\\:\\$code\\.$#"
			count: 1
			path: src/Models/Menu.php

		-
			message: "#^Access to an undefined property Igniter\\\\Pages\\\\Models\\\\Menu\\:\\:\\$name\\.$#"
			count: 1
			path: src/Models/Menu.php

		-
			message: "#^Access to an undefined property Igniter\\\\Pages\\\\Models\\\\Menu\\:\\:\\$theme\\.$#"
			count: 1
			path: src/Models/Menu.php

		-
			message: "#^Access to an undefined property Igniter\\\\Pages\\\\Models\\\\Menu\\:\\:\\$theme_code\\.$#"
			count: 1
			path: src/Models/Menu.php

		-
			message: "#^Call to an undefined method Igniter\\\\Pages\\\\Models\\\\Menu\\:\\:items\\(\\)\\.$#"
			count: 3
			path: src/Models/Menu.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Pages\\\\Models\\\\Menu\\:\\:pluck\\(\\)\\.$#"
			count: 1
			path: src/Models/Menu.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Pages\\\\Models\\\\Page\\:\\:whereSlug\\(\\)\\.$#"
			count: 1
			path: src/Models/Menu.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Models/Menu.php

		-
			message: "#^Access to an undefined property Igniter\\\\Pages\\\\Models\\\\MenuItem\\:\\:\\$id\\.$#"
			count: 1
			path: src/Models/MenuItem.php

		-
			message: "#^Access to an undefined property Igniter\\\\Pages\\\\Models\\\\MenuItem\\:\\:\\$parent\\.$#"
			count: 1
			path: src/Models/MenuItem.php

		-
			message: "#^Access to an undefined property Igniter\\\\Pages\\\\Models\\\\MenuItem\\:\\:\\$type\\.$#"
			count: 1
			path: src/Models/MenuItem.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Pages\\\\Models\\\\MenuItem\\:\\:select\\(\\)\\.$#"
			count: 1
			path: src/Models/MenuItem.php

		-
			message: "#^Access to an undefined property Igniter\\\\Pages\\\\Models\\\\Page\\:\\:\\$layout\\.$#"
			count: 1
			path: src/Models/Page.php

		-
			message: "#^Access to an undefined property Igniter\\\\Pages\\\\Models\\\\Page\\:\\:\\$theme\\.$#"
			count: 1
			path: src/Models/Page.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Pages\\\\Models\\\\Page\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 2
			path: src/Models/Page.php
